/* Main stylesheet
 */
/* Fonts */
@font-face {
	font-family:	'Roboto Thin';
	src:		url('../fonts/Roboto-Thin-webfont.woff') format('woff');
	font-weight:	normal;
	font-style:	normal;
}

@font-face {
	font-family:	'Roboto';
	src:		url('../fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight:	normal;
	font-style:	normal;
}

/* Style */
body {
	color:			black;
	background-color:	white;
	font-family:		serif;
}

/* Attempt to make JavaScript-only links look more like ordinary ones */
a {
	cursor:			pointer;
	text-decoration:	underline;
	color:			rgb(0, 0, 238);
}

a:visited {
	color:			rgb(85, 26, 139);
}
