/*
 * Feed view
 */

body#view-body {
	margin-left:		2px;
	margin-right:		2px;
}

h1 a {
	text-decoration:	none;	/* I know it's a link. Don't
					 * underline it. */
}

/* Icon or image for the feed */
.feed-icon {
	float:			right;
}

/* Feed subtitle */
.feed-subtitle {
	border:			1px dashed orange;
	background-color:	yellow;
}

/* Descriptive blurb about the feed */
.feed-description {
	border:			1px solid orange;
	background-color:	yellow;
}

/***** view ************************************/
/* navbar
 * Navigation bar, for going to earlier, later items.
 */
.navbar {
	width:			100%;
	/* For some reason, the parent block has to have a "position"
	 * property in order for its children to be positioned.
	 * {relative, 0, 0}, of course, means "position this block
	 * exactly where you normally would". Go fig.
	 */
	position:		relative;
	top:			0px;
	left:			0px;
	outline:		1px solid red;
}

.navbar .earlier {
	text-align:		left;
	outline:		1px dotted blue;
	position:		absolute;
	top:			0px;
	left:			0px;
}

.navbar .later {
	text-align:		right;
	outline:		1px dotted blue;
	position:		absolute;
	top:			0px;
	right:			0px;
}

/* Overall box containing an item */
.item {
	margin-top:		2em;
	margin-left:		0px;
	clear:			both;
}

/* Header box at top of item */
.item-header {
	width:			100%;
	background-color:	navy;
	color:			cyan;
	padding:		0px;
	border-collapse:	separate;
	border-spacing:		0px 0.3em;

	border-top-width:	2px;
	border-left-width:	2px;
	border-right-width:	2px;
	border-bottom-width:	0px;
	border-left-style:	outset;
	border-top-style:	outset;
	border-right-style:	outset;
	border-color:		navy;
	/* Mozilla: */
	-moz-border-radius-topleft:	20px;
	-moz-border-radius-topright:	20px;
	/* Safari: */
	-webkit-border-top-left-radius:		20px;
	-webkit-border-top-right-radius:	20px;
}

.item-header td {
	vertical-align:		top;
	margin:			1em;
}

/* .date-box:
 * Box at the left of the article header, with the publication date.
 */
.item-header .date-box {
	width:			3.5em;
	font-family:		sans-serif;
	font-variant:		small-caps;
	text-align:		center;
	padding:		0px;
}

.item-header .date-box ul {
	padding:		0px;
	display:		inline;
	margin:			0px;
	list-style-position:	inside;
	list-style-type:	none;
}

.date-box .day {
	font-size:		130%;
	font-weight:		bold;
	margin-bottom:		0px;
}

.date-box .mon {
	font-weight:		normal;
	margin-top:		0.0em;
}

.date-box .time {
	font-size:		60%;
	font-weight:		normal;
	margin-top:		0.4em;
}

/* Title of item */
.item-header .item-title {
	font-family:		Arial, sans-serif;
	font-size:		144%;
	font-weight:		bold;
	text-decoration:	none;	/* I know it's a link. Don't
					 * underline it. */
	color:			LightBlue;
	display:		block;
	margin-top:		0px;
	margin-bottom:		0.2em;
}

.item-header .feed-title {
	font-family:		Arial, sans-serif;
	font-size:		120%;
	font-weight:		bold;
	text-decoration:	none;	/* I know it's a link. Don't
					 * underline it. */
	color:			LightBlue;
	display:		block;
	margin-top:		0.2em;
	margin-bottom:		0px;
}

.item-header .feed-title a {
	text-decoration:	none;	/* I know it's a link. Don't
					 * underline it. */
	color:			LightBlue;
}

/* .info: the box in the middle of the article header, with useful info
 * like the title.
 */
.item-header .info {
	padding-left:		0.5em;
	padding-right:		0.5em;
	border-left:		2px solid LightBlue;
	border-right:		2px solid LightBlue;
}

.item-header .info .item-title a {
	color:			LightBlue;
	text-decoration:	none;
}

/* .icon-box: box for control/status icons on the right of the article
 * header.
 */
.item-header .icon-box {
	text-align:		right;
	font-size:		66%;
	width:			6em;
}

input[type="checkbox"].mark-check {
	width:			1.2em;
	height:			1.2em;
}

/* The next two rules are for toggling between expanded and collapsed
 * articles: the "item.tpl" and "item.js" set the <item which="...">
 * attribute to either "summary" or "content". This CSS determines
 * what to display in each case.
 */
.content-panes[which="summary"] .item-summary,
.content-panes[which="content"] .item-content {
	display:		block;
}

.content-panes[which="summary"] .item-content,
.content-panes[which="content"] .item-summary {
	display:		none;
}

/* Summary of item */
.item-summary,
.item-content {
	border-top-width:	0px;
	border-left-width:	2px;
	border-right-width:	2px;
	border-bottom-width:	0px;
	border-left-style:	outset;
	border-right-style:	outset;
	border-color:		navy;

	font-family:		Times, serif;
	padding:		0.5em;
}

/* expand-bar, collapse-bar
 * Bars at top and bottom of article, for expanding summary, or collapsing
 * content.
 */
.expand-bar,
.collapse-bar {
	width:			100%;
	height:			1.0em;
	background-color:	#6060ff;
	color:			white;
	text-align:		center;
}

/* Control box at bottom of item */
.item-footer {
	width:			100%;
	background-color:	navy;
	color:			cyan;
	min-height:		20px;

	border-top-width:	0px;
	border-left-width:	2px;
	border-right-width:	2px;
	border-bottom-width:	2px;
	border-left-style:	outset;
	border-top-style:	outset;
	border-right-style:	outset;
	border-color:		navy;

	padding-left:		10px;
	padding-right:		10px;

	/* Mozilla: */
	-moz-border-radius-bottomleft:	20px;
	-moz-border-radius-bottomright:	20px;

	/* Safari: */
	-webkit-border-bottom-left-radius:	20px;
	-webkit-border-bottom-right-radius:	20px;
}

.item-footer a {
	/* Want links to show up against navy background */
	color:			cyan;
}

.item-footer .bottom-links {
	text-align:		left;
}

.item-footer .mark-td {
	text-align:		right;
}

.item-header input {
/*	-moz-appearance:	radio;*/
}

/***** items ************************************/
blockquote {
	border:			1px solid #c0c0c0;
	margin-left:		1em;
	padding-left:		0.5em;
}
