/*
 * Index of feeds
 */
table#feeds {
	border-width:		1px;
	border-color:		black;
	border-spacing:		0px 0px;	/* Space between cells, x,y */
	width:			100%;
}

table#feeds .icon-col {
	width:			32px;
	/* Height is crucial: 22px appears to be the smallest height
	 * that'll accommodate the update icon without ugly resizing.
	 */
	height:			22px;
	padding:		0px;
	text-align:		center;
}

table#feeds tr {
}

table#feeds tr.odd-row {
	background-color:	#dddddd;
}

table#feeds tr.even-row {
	background-color:	white;
}

.tools {
	margin-top:		1em;
	margin-bottom:		1em;
	margin-left:		1em;
	padding-left:		0em;
	padding-top:		0px;
	padding-bottom:		0.2em;
}

.tools li {
	display:		inline;
	background-color:	#e0e0e0;
}
body {
	background-image:	url(gray-bg.jpg)
}

.tools a {
	text-decoration:	none;
}

.tools li:before {
	content:		" | ";
}

.tools li:first-child {
	padding-left:		0.3em;
}

.tools li:first-child:before {
	content:		"";
}

.tools li:last-child {
	padding-right:		0.3em;
}
