/* style.css
 */
body {
	background-color:	#e0e0e0;
	background-image:	url(images/gray-bg.jpg);
	margin-left:		0px;
	margin-right:		0px;
}

body h1 {
	text-align:		center;
}

/* Pages */
/* By default, pages are hidden */
div.page {
	display:		none;
}

/* Initially, only the index page is visible */
div.page#index-page {
	display:		block;
}

/* Index page: list of feeds */
.feed-list {
	margin-left:		0px;
	padding-left:		0px;
/*	list-style-type:	none;*/
	list-style-position:	inside;
}

.feed-list li {
	width:			100%;
	background-color:	white;
/*	background-color:	rgba(255,255,255,0.5);*/
/*
	outline:		2px solid blue;
	outline-offset:		12px;
*/
/*
border:	2px solid blue;
-webkit-border-radius:	1em;
*/
/*
	-moz-outline-radius:	10px;
	-moz-outline-radius-topleft
	-moz-outline-radius-topright
	-moz-outline-radius-bottomleft
	-moz-outline-radius-bottomright
*/
}

a.feed-name:hover {
	outline:		1px solid blue;
	cursor:			pointer;
}

/* Feed page: contents of a single feed */

/* By default, don't show either the subtitle or the description.
 * They'll be turned on by hand if they exist.
 */
#feed-page .feed-subtitle,
#feed-page .feed-description {
	display:	none;
}

/* Feed subtitle */
/*
#feed-page .feed-subtitle {
	border:			1px dashed orange;
	background-color:	cyan;
}
*/

/* Descriptive blurb about the feed */
#feed-page .feed-description {
	margin:			1em;
	padding:		0.5em;
	border:			1px solid orange;
	background-color:	yellow;
}

/* Article page: contents of an article */
#article-page #article-summary {
	outline:		1px solid red;
}

#article-page #article-content {
	outline:		1px solid blue;
}
