/* android.css
 * Specialized settings for Android.
 *
 * Background images and webkit gradients slow the iPad/iPhone down
 * considerably, and probably the same for the Droid. So try to avoid
 * them.
 */
body {
	font-size:		11pt;
	background-color:	#8080c0;
	background-image:	none;
		/* Graphics slow things down */
	margin-left:		0px;
	margin-right:		0px;
}

/* Restrictions for smaller screens */
@media only screen and (max-width: 570px) {
	iframe {
		/* The max-width, max-height seems to fix a problem whereby
		 * YouTube <iframe>s cause the contents to be sized
		 * wider than the display.
		 *
		 * We put this inside a @media section so that it only
		 * applies to small displays.
		 */
		max-width:	266px !important;
		max-height:	200px !important;
	}
}

/* Don't let images overflow the item */
.item img {
	max-width:	100% !important;
	height:		auto;	/* Preserve aspect ratio */
}

.button-box {
/*	font-size:	1pt;*/
}

.button-box input {
	font-size:	9pt;
	padding-left:	2px;
	padding-right:	2px;
	margin-left:	2px;
	margin-right:	2px;
}

.item .item-summary,
.item .item-content {
	font-family:		Helvetica, sans-serif;
	font-size:		12pt;
}

.item .item-header {
		/* Graphics slow things down */
	border-top-color:	blue;
	border-bottom-color:	navy;
}

.item-header .item-title { font-size: 120%; }
.item-header .feed-title { font-size: 100%; }

.item-header .icon-box {
	width:	2.5em;
}

/* Which buttons should be visible in which orientation:
 * orient:	left		right
 * up		no		yes
 * left		no		yes
 * right	yes		no
 * down		yes		no
 */

/* First, a set of dummy CSS rules for the body. It looks as though,
 * without this, Android doesn't notice that new CSS rules need to be
 * applied. IOW this just kicks it into noticing.
 */
body[orientation="up"] {
	color:			black;
}
body[orientation="left"] {
	color:			black;
}
body[orientation="right"] {
	color:			black;
}
body[orientation="down"] {
	color:			black;
}

body[orientation="right"] .button-box-left,
body[orientation="down"]  .button-box-left {
	display:		table-cell;
}

body[orientation="right"] .button-box-right,
body[orientation="down"]  .button-box-right {
	display:		none;
}

body[orientation="up"]    .button-box-left,
body[orientation="left"]  .button-box-left {
	display:		none;
}

body[orientation="up"]    .button-box-right,
body[orientation="left"]  .button-box-right {
	display:		table-cell;
}

.item .mark-read {
	display:		none;
}

input[type="checkbox"] {
	width:		1em;
	border:		3px dashed green outset;
	outline:	3px dashed pink outset;
	-webkit-appearance:	checkbox;
}

.mark-check + label {
	width:			3.0em;
	height:			3.0em;
}

.mark-check:checked + label {
/* XXX - What goes here? */
}

input[type="submit"],
input[type="reset"] {
/*	font-size:		80%;*/
}

/***** items ************************************/
blockquote {
	border:			1px solid #c0c0c0;
	margin-left:		0.5em;
	margin-right:		0.5em;
	padding-left:		0.25em;
}

/* Make debugging messages go the full width of the screen, on Android */
.msglist {
	width:			100%;
	margin-left:		0%;
}
