/*
 * Index of feeds
 */
table#feeds {
	border-width:		1px;
	border-color:		black;
	border-spacing:		0px 0px;	/* Space between cells, x,y */
	width:			100%;
}

table#feeds .icon-col {
	width:			32px;
	/* Height is crucial: 22px appears to be the smallest height
	 * that'll accommodate the update icon without ugly resizing.
	 */
	height:			22px;
	padding:		0px;
	text-align:		center;
}

table#feeds tr {
}

table#feeds tr.odd-row {
	background-color:	#dddddd;
}

table#feeds tr.even-row {
	background-color:	white;
}

table#feeds tr.inactive-feed .title-col {
	text-decoration:	line-through !important;
}

table#feeds tr.stale-feed {
	background-color:	#a0a0a0 !important;
}

/* Hidden elements, or shown only selectively */
/* Feed details */
#feeds .feed-details {
	display:		none;
}

#feeds.show-details .feed-details {
    	display:		inline;
}

/* Links to tools for managing feeds */
#feeds .feed-tools {
	display:		none;
}

#feeds.show-tools .feed-tools {
	display:		inline;
}

.tools {
	margin-top:		1em;
	margin-bottom:		1em;
	margin-left:		1em;
	padding-left:		0em;
	padding-top:		0px;
	padding-bottom:		0.2em;
}

.tools li {
	display:		inline;
}
body {
	background-image:	url(gray-bg.jpg);
	margin-top:		0px;
	margin-left:		0px;
}

.tools a {
	text-decoration:	none;
}

.tools li:before {
	content:		" | ";
}

.tools li:first-child {
	padding-left:		0.3em;
}

.tools li:first-child:before {
	content:		"";
}

.tools li:last-child {
	padding-right:		0.3em;
}

/* Error messages and such */
.msglist {
	background-color:	orange;
	width:			50%;
	margin-top:		0px;
	margin-left:		25%;
	position:		absolute;
	top:			0px;
/*	outline:		5px solid red;*/
	padding:		0px;
/*	border-bottom-width:	5px;*/
/*	border-bottom-color:	DarkSlateGray;*/
/*	border-bottom-style:	outset;*/
/*	-moz-border-radius-bottomleft:	5px;*/
/*	-moz-border-radius-bottomright:	5px;*/
}

.msglist li {
	background-color:	DarkSlateGray;
	color:			white;
	list-style-position:	inside;
	list-style-type:	none;
	border-left:		2px solid SlateGray;
	border-bottom:		2px solid black;
	border-right:		2px solid black;
	padding-left:		0.5em;
	padding-right:		0.5em;
}
