/* iphone.css
 * Specialized settings for iPad
 *
 * Background images and webkit gradients slow the iPad/iPhone down
 * considerably. So try to avoid them.
 */
body {
	font-size:		14pt;
	background-color:	#8080c0;
	background-image:	none;
		/* Graphics slow things down */
	color:			black;
	margin-left:		0px;
	margin-right:		0px;
}

.item .item-header {
	background-image:	none;
		/* Graphics slow things down */
	border-top-color:	blue;
	border-bottom-color:	navy;
}

.button-box input {
	font-size:	16pt;
	padding-left:	2px;
	padding-right:	2px;

}

input[type="checkbox"].mark-check {
	width:			2.0em;
	height:			2.0em;
}
