/* iphone.css
 * Specialized settings for iPhone/iPod Touch.
 */
body {
	font-size:		18pt;

	background-color:	#c0c0c0;
	background-image:
		-webkit-gradient(
			radial,
			320 178,
			10,
			320 178,
			320,
			from(#c0c0ff),
			to(#8080c0)
/*			,color-stop(90%, #019F62)*/
		);
	background-repeat:	no-repeat
	background-attachment:	fixed;
	color:			black;
	margin-left:		0px;
	margin-right:		0px;
}

.feed-tools li {
	background:	inherit;
}

.button-box {
/*	font-size:	1pt;*/
}

.button-box input {
	font-size:	16pt;
	padding-left:	2px;
	padding-right:	2px;
}

.item .item-summary,
.item .item-content {
	font-family:		Helvetica, sans-serif;
}

.item .item-header {
	/* XXX - Actually, this should in Safari as well */
	background-image:
		-webkit-gradient(linear, left top, left bottom,
			from(blue),
			to(navy));
	border-top-color:	blue;
	border-bottom-color:	navy;
}

.item-header .item-title { font-size: 120%; }
.item-header .feed-title { font-size: 100%; }

.item-header .icon-box {
	width:	2.5em;
}

.item .mark-read {
	display:		none;
}

input[type="checkbox"].mark-check {
	width:			3.0em;
	height:			3.0em;
}

input[type="submit"],
input[type="reset"] {
/*	font-size:		80%;*/
}

/***** items ************************************/
blockquote {
	border:			1px solid #c0c0c0;
	margin-left:		0.5em;
	margin-right:		0.5em;
	padding-left:		0.25em;
}
