html {
/*	-webkit-text-size-adjust:	auto;*/
}

body {
	background-color:	#c0c0c0;
	color:			black;
	margin-left:		0px;
	margin-right:		0px;
}

#debug {
	clear:			left;
	margin-top:		1em;
}

#feeds {
	padding-left:		0px;
}

#feeds li.item {
	list-style-type:	none;
	margin-left:		0px;
}

#feeds .item {
	background-image:	-webkit-gradient(linear,
					left top,
					left bottom,
					color-stop(0.0, #e0e0e0),
					color-stop(1.0, #c0c0c0)
				);
}

#feeds .even-item {
/*	background-color:	#c0c0c0;*/
	color:			black;
/*	-webkit-tap-highlight-color:	red;*/
}

#feeds .odd-item {
/*	background-color:	white;*/
	color:			black;
/*	-webkit-tap-highlight-color:	yellow;*/
}

/* The app contains multiple pages of content: the index, the page for
 * a feed, the page for a single article, the settings. All of these
 * are divs on the main page, with class "multi-page". By default, all
 * of them are hidden; only the index page is visible.
 */
.multi-page {
	display:		none;
	z-index:		0;
}
.multi-page#index-page {
	display:		block;
	z-index:		100;
}
