# Restrict access
AuthType Digest
AuthName "Newsbite"
AuthDigestDomain /newsbite/
AuthDigestProvider
AuthUserFile /folks/htdocs/newsbite/.digest_pw

<Files "login.php">
	Require valid-user
</Files>

# Make sure PHP can find all of its libraries
<IfModule mod_php5.c>
	# Say where the lib files are to be found.
	php_value include_path ".:./lib"

	# Turn on output compression
	php_value zlib.output_compression On
</IfModule>

# Safari app manifest files
AddType text/cache-manifest .manifest

# Allow static files to be gzip-compressed.
<IfModule mime_module>
	# Some Apache installations define .gz to be application/x-gzip.
	# Undo this
	RemoveType .gz

	# Define the encodings "gzip" for *.gz files, and "identity"
	# (no encoding) for .plain files.
	# This way, for each static file foo.type (in particular, .css
	# and .js files), we can have a foo.type.gz that will be
	# served to clients that understand gzip, and a foo.type.plain
	# that will be served to clients that don't (not that I've
	# found any).
	AddEncoding gzip .gz
	AddEncoding identity .plain
</IfModule>
