# Restrict access
AuthType Digest
AuthName "Newsbite"
AuthDigestDomain /newsbite/
AuthDigestProvider
AuthUserFile /folks/htdocs/newsbite/.digest_pw

#Require valid-user

<Files "login.php">
	Require valid-user
</Files>

# Make sure PHP can find all of its libraries
<IfModule mod_php5.c>
	php_value include_path ".:./lib"
</IfModule>

# Safari app manifest files
AddType text/cache-manifest .manifest
