/* style-nojs.css
 * This file is included only when the browser has JavaScript turned off.
 */

.collapse-bar {
	display:	none;
}


/* If both the summary and content are present, they're put inside a
 * <div class="content-panes">
 */
.content-panes .item-summary {
	display:		none;
}

.content-panes .item-content {
	display:		block;
}
