/* Main stylesheet
 */
body {
	background-color:	white;
}

/*
 * Index of feeds
 */
table#feeds {
	background-color:	cyan;
	border-width:		1px;
	border-color:		black;
}

table#feeds tr {
	border:		1px dotted black;
}

table#feeds tr td {
	border:		1px dashed red;
}

/*
 * Feed view
 */

h1 a {
	text-decoration:	none;	/* I know it's a link. Don't
					 * underline it. */
}

/* Icon or image for the feed */
.feed_icon {
	float:			right;
}

/* Feed subtitle */
.feed_subtitle {
	border:			1px dashed orange;
	background-color:	yellow;
}

/* Descriptive blurb about the feed */
.feed_description {
	border:			1px solid orange;
	background-color:	yellow;
}

/* Overall box containing an item */
.item {
	margin-top:		2em;
	clear:			both;
}

/* Header box at top of item */
.item_header {
	border:			1px solid blue;
	background-color:	LightBlue;
	padding:		0.5em;
}

/* Title of item */
.item_title {
	font-family:		Arial, sans-serif;
	font-size:		180%;
	font-weight:		bold;
	text-decoration:	none;	/* I know it's a link. Don't
					 * underline it. */
}

/* Summary of item */
.item_summary {
	border:			1px solid red;
	font-family:		Times, serif;
	padding:		0.5em;
}

/* Content of item */
.item_content {
	border:			1px solid blue;
	font-family:		Times, serif;
	padding:		0.5em;
}

/* Control box at bottom of item */
.item_footer {
	background-color:	pink;
}
